<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
  </head>
  <body>
    <h1>Signup</h1>
    <form action="/user" method="post">
      <label>Full Name:</label>
      <input type="text" required name="name" placeholder="Enter Full Name" />
      <label>Email:</label>
      <input type="text" required name="email" placeholder="Enter Your Email" />
      <label>Password:</label>
      <input
        type="text"
        required
        name="password"
        placeholder="Enter Your Password"
      />
      <button type="submit">Signup</button>
    </form>
  </body>
</html>
